/* Style for the table */
table {
    width: 105%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* Style for the table header */
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Style for table header cells */
  th {
    padding: 15px;
    text-align: left;
  }
  
  /* Style for table body cells */
  td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  /* Style for table rows on hover */
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  /* Style for the Edit and Delete buttons */
  td a, td button {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  /* Style for the Edit button */
  td a {
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
  }
  
  /* Style for the Delete button */
  td button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Style for the Delete button on hover */
  td button:hover {
    background-color: #c82333;
  }

  /* Dashboard Container */
.dashboard-container{
    display: flex;
    flex-direction: column;
    background-color: #06265d; /* Updated background color */
    min-height: 100vh; /* Use min-height for responsiveness */
  }
  .mag{
    margin-left: 30px;
  }
  /* Add these styles to your Dashboard.css file */
  .cardj {
    position: relative;
    border: 1px solid #ccc;
    padding: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    background: linear-gradient(45deg, #455b72 0%, #8cc0c4 25%, #c1e8eb 50%, #bee6e9 75%, #d9e9ea 100%);
    background-size: 200% 200%;

  }
  
  .first-letter {
    color: #75cddd; /* Your first color */
  }
  
  .second-letter {
    color: #a7e28c; /* Your second color */
  }
  
  /* Add styles for other letters as needed */
  
  
  .cardj:hover {
    animation: none; /* Disable the animation on hover */
 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
    /* Update your existing CSS styles */
    .cardcontainer {
      display: flex;
      justify-content: space-between;
      padding: 0px;
      
    }
    
    .cardm {
      background-color: #fff;
      border: 3px solid #ccc;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2);
      text-align: center;
      width: 20%;
      height: 320px;
      animation: blinkBorder 2s linear infinite; /* Add animation properties */
    }
    
    /* Define the blinking animation */
    @keyframes blinkBorder {
      0% {
        border-color: #6bc7d1; /* Initial and final border color */
      }
      50% {
        border-color: #007bff; /* Blinking border color */
      }
      100% {
        border-color: #0bc74a; /* Initial and final border color */
      }
    }
    
    .cardm h2 {
      font-size: 24px;
      margin: 30px 0;
    }
    
    .cardm p {
      font-size: 16px;
      color: #555;
    }
    
    .cardm i {
      margin-top: 30px;
      display: block;
      font-size: 48px;
      color: #007bff; /* You can change the icon color */
      margin-bottom: 10px;
    }
    
    
  .pie-chart{
    margin-top: 10px;
  }
  /* Header styles */
  .header {
    background-color: #455b72;
    color: #fff;
    padding: 0.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Cool Button Styles */
  .logout-button {
    padding: 1em 2.5em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 0 0 10px #0078d4, 0 0 20px #0078d4, 0 0 30px #0078d4; /* Dark blue text shadow */
    font-weight: bold;
    background: linear-gradient(
      45deg,
      #66cf4c,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #7ed1e6,
      #7a00ff,
      #ff00c8,
      #bf7070
    );
    cursor: pointer;
    position: relative;
    z-index: 0;
    margin-right: 40px;
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .logout-button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #fafff8,
      #ff7300,
      #14a5c2,
      #48ff00,
      #00ffd5,
      #7880ab,
      #7a00ff,
      #ff00c8,
      #bf7070
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px;
  }
  
  .logout-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 15px;
  }
  
  
  
  /* Main content styles */
  .main-content {
    display: flex;
    flex: 1;
    
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Sidebar styles */
  .sidebar {
    background-color: #35495e;
    color: #fff;
    width: 10%;
  
    padding: 0.5rem;
  }
  
  /* Dashboard.css (or your CSS file) */

/* Sidebar Styles */
.nav-menu {
  list-style: none;
  padding: 0;
  margin-left: 10px;
}

.nav-item {
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: #007bff; /* Change to the desired background color on hover */
}

/* Icon Styles */
.icon {
  margin-right: 10px; /* Adjust spacing between icon and text */
  font-size: 18px; /* Adjust the icon size as needed */
  color: #e6e1e1; /* Set the default icon color */
}

/* Text Styles */
.nav-item a {
  text-decoration: none;
  color: #f8eeee; /* Set the default text color */
  font-weight: bold;
}

/* Text color on hover */
.nav-item:hover a {
  color: #fff; /* Change to the desired text color on hover */
}

  /* Content styles */
  .content {
    flex: 1;
    padding: 2rem;
  }
  
  /* Example card styles for dashboard content */
  